"<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <div class="d-flex justify-content-between mb-2">
          <h4 class="mb-2">尋找餐廳：</h4>
          <a href="/restaurants/new" class="btn btn-primary">新增餐廳</a>
        </div>
        <div class="d-flex flex-column flex-sm-row align-item-sm-center gap-2">
          <div class="input-group mb-2 mb-sm-0 mr-sm-2">
            <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
              value="{{keywords}}" aria-describedby="search-button">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
          <div class="input-group">
            <select class="form-select" name="sort" id="sort">
              <option value="">A > Z</option>
              <option value="">Z > A</option>
              <option value="">類別</option>
              <option value="">地區</option>
            </select>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">

  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-1 row-cols-sm-3">
        {{#each restaurantData}}
        <div class="card mb-3">
          <img class="card-img-top" src={{this.image}} alt="{{this.name}}">
          <div class="card-body p-3">
            <h6 class="card-title mb-1">{{this.name}}</h6>

            <div class="restaurant-category mb-1">
              <i class="fas fa-utensils pr-2"></i> {{this.category}}
            </div>

            <span class="badge rounded-pill bg-danger">
              {{this.rating}}<i class="fas fa-star fa-xs"></i>
            </span>
          </div>
          <div class="card-footer d-flex justify-content-end flex-wrap">
            {{!-- 在 Mongoose 裡使用 _id 來表示每筆資料的唯一識別碼;16 進位的流水號 --}}
            <a href="/restaurants/{{this._id}}/edit"><button class="btn btn-link btn-sm">Edit</button></a>
            <a href="/restaurants/{{this._id}}"><button class="btn btn-link btn-sm">Details</button></a>
            <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger btn-sm text-white">delete</button>
            </form>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>